body{
    background: url("../image/homepage.jpg") center center no-repeat fixed;
    background-size: cover;
}
.formbold-form-wrapper {
    background: none!important;
}
.formbold-form-input {
    width: 50% !important;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    background: none !important;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    outline: none;
    resize: none;
}
.a-btn{
    width: 50%!important;
    background: rgb(205,174,238);
    background: radial-gradient(circle, rgba(205,174,238,1) 0%, rgba(113,159,221,1) 100%);
    color: #252323;
}
.formbold-form-title {
    margin-bottom: 30px!important;
}
.formbold-form-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #6a64f1;
    text-align: right;
    transition: all 0.5s ease;
}
.formbold-form-title p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
    margin-top: 12px;
}
.formbold-form-title h2:hover {
    text-shadow: 10px 10px 10px #444343;
}
