*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'vazir', serif;
}
@font-face {
    font-family: "vazir";
    src: url("/assets/vazir-font/Vazir-Medium.ttf");
}
table{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto !important;
    border: 1px solid #E4EfE9;
    border-collapse: collapse;
    top: 100px;
}
table thead tr{
    background-color: #c4adff;
    height: 8vh;
}
table thead tr th{
    font-size: 16px;
    width: 10%;
    /*color: black;*/
    /*border-right: 2px outset #E4EfE9;*/
}
.btn{
    width: 3%;
}
table thead tr th:nth-child(1){
    width: 1%;
}
table tbody tr:nth-child(even){
    background-color:  white;
    height: 60px;
    border: 1px solid #E4EfE9;
    transition: all 0.5s ease;
}
table tbody tr:nth-child(odd){
    background-color: #f8f8f8;
    height: 60px;
    border: 1px solid #E4EfE9;
    transition: all 0.5s ease;
}
table tbody tr:nth-child(even):hover{
    background-color: #E4EfE9 ;
}
table tbody tr:nth-child(odd):hover{
    background-color: #E4EfE9 ;
}
table tbody tr td{
    color: black;
    text-align: center;
}
table tbody tr td a{
    display: inline-block;
    padding: 2px!important;
}
.show {
    color: #6a64f1;
}
.edit {
    color: #ffc107;
}
.remove {
    color: #dc3545;
}
