/*#org-form{*/
/*    width: 20%;*/
/*    margin: auto;*/
/*    margin-bottom: 50px;*/
/*}*/

/*#org-table{*/
/*    width: 60%;*/
/*    margin: auto;*/
/*}*/
table{
    position: relative;
    width: 70%;
    height: auto;
    border-collapse: collapse;
    top: 5px!important;
    right : 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}